@import "colours";

$text-size: 20px;
$letter-size:	36px;
$head-ht:	80px;

body	{
	font-size: $text-size;
	background-color: $bodyback;
}

#page-head	{
	background-color: $headback;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: $head-ht;
	margin: 0;
	display: block;

	h1	{
		font-weight: bolder;
		text-align: center;
		color: $dkgreen;
	}
}

.list-letter	{
	font-size: $letter-size;
	color:	$ltr-avail;
	font-weight: bolder;

}

	.selectable:hover{
		color: $ltr-hover;
	}

#actor-entry	{
	margin-top: ($head-ht + 20);
}

button.disabled	{
	color: grey;
}

#try-again	{
	display: none;
	color: red;
	font-weight: bold;
}

#letter-list	{
	display: inline;
	margin: 20px;
}

#solve-button	{
	display: inline;
}

#game-board	{	
	/*display: flex;*/
}

#score-display	{
	/*float: right;*/
	display: inline;
	font-size: 30px;
	font-weight: bold;
	#current-points	{
		font-size: 48px;
		font-weight: bolder;
	}
}

.letter-box	{
	width: 48px;
	height: 60px;
	display: inline-flex;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	background-color: #c0c0c0;
	padding: 0 5px 20px 5px;
	border: $box;
	margin: 10px 10px;
	.letter 	{
		min-width: 100%;
		padding-bottom: 10px;
		display: inline;
		visibility: hidden;
	}
}

.spacer-box	{
	width: 40px;
	height: 50px;
	display: inline-flex;
	font-size: $text-size;
	padding: 0 5px 20px 5px;
	margin: 10px 10px;

}

.guessed-letter	{
	color: blue;
}

#lose-message	{
	font-size: $text-size;
	font-weight: bold;
	display: none;
}

#guess-message	{
	font-size: $text-size;
	font-weight: bold;
	display: none;
}

#win-message	{
	font-size: $text-size;
	font-weight: bold;
	color: green;
	display: none;
}

#wrong-message	{
	font-size: $text-size;
	font-weight: bold;
	color: red;
	display: none;
}

#guess-list	{
	font-size: $letter-size;	
	font-weight: bold;
}

#instruc-modal	{
	width: 600px;
	height: 450px;
	position: fixed;
	left: 25%;
	top: 25%;
	font-size: 12pt;
	background-color: $headback;
	padding: 8px;
	border: 4pt double $dkgreen;

	h2	{
		margin-top: 0;
	}

	#close-button	{
		float: right;
	}
}

/*.space-box	{
	width: 15px;
	height: 40px;
	display: inline;
	margin: 10px 0;
}*/