@import "colours";

$letter-size: 30px;

#try-again	{
	display: none;
	color: red;
	font-weight: bold;
}

#letter-list	{
	display: inline;
	margin: 20px;
}

#solve-button	{
	display: inline;
}

#game-board	{	
	/*display: flex;*/
}

#score-display	{
	float: right;
	font-size: 24px;
	font-weight: bold;
	#current-points	{
		font-size: 40px;
		font-weight: bolder;
	}
}

.letter-box	{
	width: 40px;
	height: 50px;
	display: inline-flex;
	font-size: $letter-size;
	font-weight: bold;
	text-align: center;
	background-color: #c0c0c0;
	padding: 0 5px 20px 5px;
	border: $box;
	margin: 10px 10px;
	.letter 	{
		min-width: 100%;
		padding-bottom: 10px;
		display: inline;
		visibility: hidden;
	}
}

.spacer-box	{
	width: 40px;
	height: 50px;
	display: inline-flex;
	font-size: $letter-size;
	padding: 0 5px 20px 5px;
	margin: 10px 10px;

}

.guessed-letter	{
	color: blue;
}

#lose-message	{
	font-size: 20px;
	font-weight: bold;
	display: none;
}

#guess-message	{
	font-size: 20px;
	font-weight: bold;
	display: none;
}

#win-message	{
	font-size: 20px;
	font-weight: bold;
	color: green;
	display: none;
}

#guess-list	{
	font-size: $letter-size;
	font-weight: bold;
}

/*.space-box	{
	width: 15px;
	height: 40px;
	display: inline;
	margin: 10px 0;
}*/