@import "colours";

$letter-size: 30px;

#letter-list	{
	margin-bottom: 20px;
}

#game-board	{
	/*display: flex;*/
}

.letter-box	{
	width: 40px;
	height: 50px;
	display: inline-flex;
	/*flex-direction: column;*/
	font-size: $letter-size;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	border: $box;
	margin: 10px 10px;
	.letter 	{
		min-width: 100%;
		display: inline;
		visibility: hidden;
	}
}

.guessed-letter	{
	color: blue;
}

#guess-list	{
	font-size: $letter-size;
	font-weight: bold;
}

/*.space-box	{
	width: 15px;
	height: 40px;
	display: inline;
	margin: 10px 0;
}*/